{{>layout/header}}
<style>
    .dataTables_filter {
        text-align: right;
    }
    .pagination {
        float: right;
    }
</style>


<img src="/img/bitcoins/banner.png" width="200px" height="100px">

<!-- 첫번째 줄 -->
<div class="row">
    <div class="col-md-2">
        <a class="btn btn-info mt-2" href="https://www.bithumb.com/">코인 정보</a>
    </div>
    <!-- btc 줄 -->
    <div class="col-md-2">
        <div class="card shadow mb-4">
            <div class="card-header py-3" style="text-align: center">
                <img src="/img/bitcoins/btc.png" title="bitcoin (btc)">
            </div>
            <div class="card-body">
                <div class="p-2">
                    <div id="btc" style="text-align: center; font-size: 20px; font-weight: bold">-</div>
                </div>
                <div class="row mb-1">
                    <div class="col-md-6">
                        <input type="number" value="0" id="btc-amount" min="0" style="font-size: 10px; width: 100%">
                    </div>
                    <div class="col-md-6" style="text-align: right">
                        <input type="number" value="{{wallet.btc}}" id="btc-reserve" style="font-size: 10px; width: 100%; background-color: silver" readonly>
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col-md-6">
                        <div class="btn btn-success" onclick="amountCoin('btc','전량')">전량</div>
                    </div>
                    <div class="col-md-6" style="text-align: right">
                        <div class="btn btn-info" onclick="amountCoin('btc','절반')">절반</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="btn btn-danger" onclick="economy('btc','buy')">매수</div>
                    </div>
                    <div class="col-md-6" style="text-align: right">
                        <div class="btn btn-primary" onclick="economy('btc','sell')">매도</div>
                    </div>
                </div>
                <div class="mt-2" style="text-align: center">
                    <div id="btc-avg">평단가</div>
                    <div id="btc-PL">손익</div>
                </div>
            </div>
        </div>
    </div>
    <!-- bch 줄 -->
    <div class="col-md-2">
        <div class="card shadow mb-4">
            <div class="card-header py-3" style="text-align: center">
                <img src="/img/bitcoins/bch.png" title="bitcoin cash (bch)">
            </div>
            <div class="card-body">
                <div class="p-2">
                    <div id="bch" style="text-align: center; font-size: 20px; font-weight: bold">-</div>
                </div>
                <div class="row mb-1">
                    <div class="col-md-6">
                        <input type="number" value="0" id="bch-amount" min="0" style="font-size: 10px; width: 100%">
                    </div>
                    <div class="col-md-6" style="text-align: right">
                        <input type="number" value="{{wallet.bch}}" id="bch-reserve" style="font-size: 10px; width: 100%; background-color: silver" readonly>
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col-md-6">
                        <div class="btn btn-success" onclick="amountCoin('bch','전량')">전량</div>
                    </div>
                    <div class="col-md-6" style="text-align: right">
                        <div class="btn btn-info" onclick="amountCoin('bch','절반')">절반</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="btn btn-danger" onclick="economy('bch','buy')">매수</div>
                    </div>
                    <div class="col-md-6" style="text-align: right">
                        <div class="btn btn-primary" onclick="economy('bch','sell')">매도</div>
                    </div>
                </div>
                <div class="mt-2" style="text-align: center">
                    <div id="bch-avg">평단가</div>
                    <div id="bch-PL">손익</div>
                </div>
            </div>
        </div>
    </div>
    <!-- btg 줄 -->
    <div class="col-md-2">
        <div class="card shadow mb-4">
            <div class="card-header py-3" style="text-align: center">
                <img src="/img/bitcoins/btg.png" title="bitcoin gold (btg)">
            </div>
            <div class="card-body">
                <div class="p-2">
                    <div id="btg" style="text-align: center; font-size: 20px; font-weight: bold">-</div>
                </div>
                <div class="row mb-1">
                    <div class="col-md-6">
                        <input type="number" value="0" id="btg-amount" min="0" style="font-size: 10px; width: 100%">
                    </div>
                    <div class="col-md-6" style="text-align: right">
                        <input type="number" value="{{wallet.btg}}" id="btg-reserve" style="font-size: 10px; width: 100%; background-color: silver" readonly>
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col-md-6">
                        <div class="btn btn-success" onclick="amountCoin('btg','전량')">전량</div>
                    </div>
                    <div class="col-md-6" style="text-align: right">
                        <div class="btn btn-info" onclick="amountCoin('btg','절반')">절반</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="btn btn-danger" onclick="economy('btg','buy')">매수</div>
                    </div>
                    <div class="col-md-6" style="text-align: right">
                        <div class="btn btn-primary" onclick="economy('btg','sell')">매도</div>
                    </div>
                </div>
                <div class="mt-2" style="text-align: center">
                    <div id="btg-avg">평단가</div>
                    <div id="btg-PL">손익</div>
                </div>
            </div>
        </div>
    </div>
    <!-- eos 줄 -->
    <div class="col-md-2">
        <div class="card shadow mb-4">
            <div class="card-header py-3" style="text-align: center">
                <img src="/img/bitcoins/eos.png" title="EOS (eos)">
            </div>
            <div class="card-body">
                <div class="p-2">
                    <div id="eos" style="text-align: center; font-size: 20px; font-weight: bold">-</div>
                </div>
                <div class="row mb-1">
                    <div class="col-md-6">
                        <input type="number" value="0" id="eos-amount" min="0" style="font-size: 10px; width: 100%">
                    </div>
                    <div class="col-md-6" style="text-align: right">
                        <input type="number" value="{{wallet.eos}}" id="eos-reserve" style="font-size: 10px; width: 100%; background-color: silver" readonly>
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col-md-6">
                        <div class="btn btn-success" onclick="amountCoin('eos','전량')">전량</div>
                    </div>
                    <div class="col-md-6" style="text-align: right">
                        <div class="btn btn-info" onclick="amountCoin('eos','절반')">절반</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="btn btn-danger" onclick="economy('eos','buy')">매수</div>
                    </div>
                    <div class="col-md-6" style="text-align: right">
                        <div class="btn btn-primary" onclick="economy('eos','sell')">매도</div>
                    </div>
                </div>
                <div class="mt-2" style="text-align: center">
                    <div id="eos-avg">평단가</div>
                    <div id="eos-PL">손익</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
<!-- 두번째 줄 -->
<div class="row">
    <div class="col-md-2"></div>
    <!-- etc 줄 -->
    <div class="col-md-2">
        <div class="card shadow mb-4">
            <div class="card-header py-3" style="text-align: center">
                <img src="/img/bitcoins/etc.png" title="Ethereum Classic (etc)">
            </div>
            <div class="card-body">
                <div class="p-2">
                    <div id="etc" style="text-align: center; font-size: 20px; font-weight: bold">-</div>
                </div>
                <div class="row mb-1">
                    <div class="col-md-6">
                        <input type="number" value="0" id="etc-amount" min="0" style="font-size: 10px; width: 100%">
                    </div>
                    <div class="col-md-6" style="text-align: right">
                        <input type="number" value="{{wallet.etc}}" id="etc-reserve" style="font-size: 10px; width: 100%; background-color: silver" readonly>
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col-md-6">
                        <div class="btn btn-success" onclick="amountCoin('etc','전량')">전량</div>
                    </div>
                    <div class="col-md-6" style="text-align: right">
                        <div class="btn btn-info" onclick="amountCoin('etc','절반')">절반</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="btn btn-danger" onclick="economy('etc','buy')">매수</div>
                    </div>
                    <div class="col-md-6" style="text-align: right">
                        <div class="btn btn-primary" onclick="economy('etc','sell')">매도</div>
                    </div>
                </div>
                <div class="mt-2" style="text-align: center">
                    <div id="etc-avg">평단가</div>
                    <div id="etc-PL">손익</div>
                </div>
            </div>
        </div>
    </div>
    <!-- eth 줄 -->
    <div class="col-md-2">
        <div class="card shadow mb-4">
            <div class="card-header py-3" style="text-align: center">
                <img src="/img/bitcoins/eth.png" title="Ethereum (eth)">
            </div>
            <div class="card-body">
                <div class="p-2">
                    <div id="eth" style="text-align: center; font-size: 20px; font-weight: bold">-</div>
                </div>
                <div class="row mb-1">
                    <div class="col-md-6">
                        <input type="number" value="0" id="eth-amount" min="0" style="font-size: 10px; width: 100%">
                    </div>
                    <div class="col-md-6" style="text-align: right">
                        <input type="number" value="{{wallet.eth}}" id="eth-reserve" style="font-size: 10px; width: 100%; background-color: silver" readonly>
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col-md-6">
                        <div class="btn btn-success" onclick="amountCoin('eth','전량')">전량</div>
                    </div>
                    <div class="col-md-6" style="text-align: right">
                        <div class="btn btn-info" onclick="amountCoin('eth','절반')">절반</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="btn btn-danger" onclick="economy('eth','buy')">매수</div>
                    </div>
                    <div class="col-md-6" style="text-align: right">
                        <div class="btn btn-primary" onclick="economy('eth','sell')">매도</div>
                    </div>
                </div>
                <div class="mt-2" style="text-align: center">
                    <div id="eth-avg">평단가</div>
                    <div id="eth-PL">손익</div>
                </div>
            </div>
        </div>
    </div>
    <!-- ltc 줄 -->
    <div class="col-md-2">
        <div class="card shadow mb-4">
            <div class="card-header py-3" style="text-align: center">
                <img src="/img/bitcoins/ltc.png" title="Light coin (ltc)">
            </div>
            <div class="card-body">
                <div class="p-2">
                    <div id="ltc" style="text-align: center; font-size: 20px; font-weight: bold">-</div>
                </div>
                <div class="row mb-1">
                    <div class="col-md-6">
                        <input type="number" value="0" id="ltc-amount" min="0" style="font-size: 10px; width: 100%">
                    </div>
                    <div class="col-md-6" style="text-align: right">
                        <input type="number" value="{{wallet.ltc}}" id="ltc-reserve" style="font-size: 10px; width: 100%; background-color: silver" readonly>
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col-md-6">
                        <div class="btn btn-success" onclick="amountCoin('ltc','전량')">전량</div>
                    </div>
                    <div class="col-md-6" style="text-align: right">
                        <div class="btn btn-info" onclick="amountCoin('ltc','절반')">절반</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="btn btn-danger" onclick="economy('ltc','buy')">매수</div>
                    </div>
                    <div class="col-md-6" style="text-align: right">
                        <div class="btn btn-primary" onclick="economy('ltc','sell')">매도</div>
                    </div>
                </div>
                <div class="mt-2" style="text-align: center">
                    <div id="ltc-avg">평단가</div>
                    <div id="ltc-PL">손익</div>
                </div>
            </div>
        </div>
    </div>
    <!-- xrp 줄 -->
    <div class="col-md-2">
        <div class="card shadow mb-4">
            <div class="card-header py-3" style="text-align: center">
                <img src="/img/bitcoins/xrp.png" title="Ripple (xrp)">
            </div>
            <div class="card-body">
                <div class="p-2">
                    <div id="xrp" style="text-align: center; font-size: 20px; font-weight: bold">-</div>
                </div>
                <div class="row mb-1">
                    <div class="col-md-6">
                        <input type="number" value="0" id="xrp-amount" min="0" style="font-size: 10px; width: 100%">
                    </div>
                    <div class="col-md-6" style="text-align: right">
                        <input type="number" value="{{wallet.xrp}}" id="xrp-reserve" style="font-size: 10px; width: 100%; background-color: silver" readonly>
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col-md-6">
                        <div class="btn btn-success" onclick="amountCoin('xrp','전량')">전량</div>
                    </div>
                    <div class="col-md-6" style="text-align: right">
                        <div class="btn btn-info" onclick="amountCoin('xrp','절반')">절반</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="btn btn-danger" onclick="economy('xrp','buy')">매수</div>
                    </div>
                    <div class="col-md-6" style="text-align: right">
                        <div class="btn btn-primary" onclick="economy('xrp','sell')">매도</div>
                    </div>
                </div>
                <div class="mt-2" style="text-align: center">
                    <div id="xrp-avg">평단가</div>
                    <div id="xrp-PL">손익</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
<!-- 사용자정보 줄 -->
<div class="row">
    <!-- 계좌테이블 줄 -->
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <div class="m-0 font-weight-bold text-primary">내 계좌 정보</div>
            </div>
            <div class="card-body">
                <div class="table-responsive p-3">
                    <table class="table table-bordered dataTable" role="grid" style="width: 100%;border-collapse: separate">
                        <thead>
                        <tr>
                            <th>계좌가치</th>
                            <th>현금</th>
                            <th>코인가치 총액</th>
                            <th>대출금</th>
                            <th>순이익</th>
                        </tr>
                        </thead>
                        <tbody id="tbody">
                        <tr>
                            <td id="accountValue">-</td>
                            <td id="cash">{{wallet.cash}}</td>
                            <td id="coinAllValue">-</td>
                            <td id="loan">{{wallet.loan}}</td>
                            <td id="totalAccountValue">-</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
<!--계좌 끝-->
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">거래이력</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive p-3">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>일시</th>
                            <th>코인</th>
                            <th>거래구분</th>
                            <th>갯수</th>
                            <th>개당가격</th>
                        </tr>
                        </thead>
                        <tbody id="tbody-Log">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>

<!-- 그래프 참고 주소 https://www.bithumb.com/ -->
{{>layout/footer}}

<!-- index.js 추가 -->
<script src="/js/app/bitcoin.js"></script>

<!-- Page level plugins -->
<script src="/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="/js/demo/datatables-demo.js"></script>

</body>

</html>