{{>layout/header}}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- 404 Error Text -->
    <div class="container-fluid">

        <!-- 404 Error Text -->
        <div class="text-center">
            <div class="error mx-auto" data-text="ERROR" style="left: -80px">ERROR</div>
            <p class="lead text-gray-800 mb-5">Page Not Found</p>
            <p class="text-gray-500 mb-0">페이지가 존재하지 않습니다... 개발자에게 문의해주세요.</p><br>
            <a href="/">&larr; 메인으로 돌아가기</a>
        </div>

    </div>
    <!-- /.container-fluid -->

</div>
<!-- End of Main Content -->

{{>layout/footer}}

</body>

</html>